.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  transition: all 0.55s ease;
  top: 0;
  z-index: 1;
}

.navbar__black {
  background-color: black;
  height: 55px;
}

.navbar__ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0;
  align-items: center;
}

a {
  padding: 0;
  margin: 0;
}

.navbar__logo {
  position: fixed;
  top: 23px;
  max-height: 4%;
  width: fit-content;
  transition: all 0.55s ease;
}

.navbar__logo--scroll {
  max-height: 2%;
  top: 19px;
}

.navbar__avatar {
  position: fixed;
  max-width: 40px;
  height: fit-content;
  top: 15px;
  right: 50px;
  transition: all 0.55s ease;
}

.navbar__avatar--scroll {
  max-width: 25px;
  top: 14px;
  right: 50px;
}
